* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}
body {
	text-align: center;
	background-color: black;
	color:white;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
	

}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: Helvetica;
	color: #fff;
	letter-spacing: 5px;
}

.active {
	height: 10px;
}

nav {
	float: right;
	line-height: 100px;
}

nav a {
	text-decoration: none;
	font-family: Helvetica;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image:url("images/vibe.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 120px;
	font-family: Helvetica;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	z-index: 1;
	width: auto;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: auto;
	background-color: #fff;
}
.content-area h2 {
	font-family: Helvetica;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
	background-color: black;
}
.content-area p {
	padding: 2% 0px;
	font-family: Helvetica;
	line-height: 30px;
}

.navbar {
  z-index:1;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #555;
  overflow: auto;
}


/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;


    display: block;
  }
}

.newmap {
 height : 100%; 
 width : 100%; 
 top : 0; 
 left : 0; 
 position : 
 absolute; z-index : 200;
overflow: hidden;
}


/* Sign Up form Styling */
.signup-form {
	padding-top: 150px;
}

.signup-form table{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color:  #555;
	border: 10px solid #04AA6D;
	border-radius: 10px;
}

div.body-image {
	background-image: url("images/vibe1.jpg");
	background-position: center;
	background-size: cover;
	height: 1400px;
}
div.body-image2 {
	background-image: url("images/vibe3.jpg");
	background-position: center;
	background-size: cover;
	height: 1400px;
}
div.body-image3 {
	background-image: url("images/vibe5.jpg");
	background-position: center;
	background-size: cover;
	height: 1400px;
}

.signup-form table tr:first-child  {
	text-align: center;
	font-family: Helvetica;
}

.signup-form td {
	padding-top: 8px;
	padding-bottom: 8px;
}

.signup-form input {
	width: 50%;
	height: 40px;
	border-radius: 5px;
}

.signup-form button {
	width: 90px;
	height: 40px;
	background-color: #04AA6D;
	border-radius: 6px;
	color: white;
	border: none;
}

.registration-images {
	width: 80%;

}

.wrapper {
	width: 100%;
}

.wrapper h2 {
	text-align: center;
	vertical-align: middle;
}